/* .App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
} */

.traffic-light {
  width: 80px;
  height: 280px;
  background-color: #333;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 10px;
}

.traffic-horizontal {
  width: 100px;
  height: 250px;
  background-color: #333;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 10px;
}

.light {
  width: 80px;
  height: 80px;
  background-color: #444;
  border-radius: 50%;
  margin: 10px auto;
  transition: background-color 0.5s ease;
}

.R{
  background-image: radial-gradient(brown, transparent);
  background-size: 0px 0px; 
  width: 70px;
  height: 70px;
  border-radius: 50%;
  cursor: pointer;
  top: 10px;
  left: 13px;
  animation: 13s red infinite;
  border: dotted 2px red;
  box-shadow: 
    0 0 20px #111 inset,
    0 0 10px red;

}

.R.active {
  background: red;
  background-image: radial-gradient(brown, transparent);
  background-size: 5px 5px; 
  width: 70px;
  height: 70px;
  border-radius: 50%;
  
  top: 10px;
  left: 13px;
  animation: 13s red infinite;
  border: dotted 2px red;
  box-shadow: 
    0 0 20px #111 inset,
    0 0 10px red;
}

.A{
  background-image: radial-gradient(orange, transparent);
  background-size: 0px 0px;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: dotted 2px yellow;
  cursor: pointer;
  top: 70px;
  left: 13px;
  animation: 13s yellow infinite;
  box-shadow: 
    0 0 20px #111 inset,
    0 0 10px yellow;


}

.A.active {
  background: yellow;
  background-image: radial-gradient(orange, transparent);
  background-size: 5px 5px;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: dotted 2px yellow;

  top: 70px;
  left: 13px;
  animation: 13s yellow infinite;
  box-shadow: 
    0 0 20px #111 inset,
    0 0 10px yellow;
}

.G{
  background-image: radial-gradient(lime, transparent);
  background-size: 0px 0px;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: dotted 2px lime;
  
  top: 130px;
  left: 13px;
  box-shadow: 
    0 0 20px #111 inset,
    0 0 10px lime;
  animation: 13s green infinite;
  cursor: pointer;
}

.G.active {
  background: green;
  background-image: radial-gradient(lime, transparent);
  background-size: 5px 5px;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: dotted 2px lime;
  
  top: 130px;
  left: 13px;
  box-shadow: 
    0 0 20px #111 inset,
    0 0 10px lime;
  animation: 13s green infinite;
}
